{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block caption %}
    <div id="page_caption" class="hasbg parallax   ">
        <div id="bg_regular" style="background-image:url({{ asset('images/smile/banniere.png') }});"></div>
        <div id="bg_blurred" style="background-image: url({{ asset('images/smile/banniere.png') }}); opacity: 0.1325;"></div>

        <div class="page_title_wrapper">
            <div class="page_title_inner" style="opacity: 0.621429;">
                <h1>Connexion</h1>
                <div class="page_tagline">
                    Smile Blog - Ashad Khan
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="sidebar_content">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form id="login-form" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="margin-20-0">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="width-100" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
            </div>

            <div class="margin-20-0">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input class="width-100" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
            </div>

            <div class="margin-20-0">
                <label class="label-remember-me" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            </div>

            <div class="btn-submit margin-20-0">
                <input class="width-100" class="btn-submit" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>

            <div class="margin-20-0 center color-link">
                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a> <br>
                <a href="{{ path('fos_user_registration_register') }}">S'inscrire ?</a>
            </div>
        </form>
    </div>
{% endblock body %}
