{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="sidebar_content">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" id="resetting-form">
            <div class="margin-20-0">
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input class="width-100" type="text" id="username" name="username" required="required" />
            </div>
            <div class="margin-20-0">
                <input class="width-100" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </form>
    </div>
{% endblock body %}
