{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="sidebar_content">
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset', 'id': 'reset-form' } }) }}
            <div class="form-errors">
                {{ form_errors(form) }}
            </div>

            <div class="margin-20-0 display-none">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'width-100'} }) }}
            </div>

            <div class="margin-20-0 display-none">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, { 'attr': {'class': 'width-100'} }) }}
            </div>

            {{ form_widget(form.plainPassword, { 'attr': {'class': 'margin-20-0'} }) }}

            <div class="margin-20-0">
                <input class="width-100" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
