{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="sidebar_content">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>>
{% endblock body %}