<ul class="sub-menu" style="opacity: 1; overflow: visible; height: auto; display: none;">
    {% for category in categories %}
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380">
            <a href="{{ path('article_list', {'category': category.name}) }}">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">{{ category.name }}</font>
                </font>
            </a>
        </li>
    {% endfor %}
</ul>