{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}


{% block sidebar %}

{% endblock sidebar %}


{% block body %}
    <div class="sidebar_content full_width">
        <div id="profile-page">
            <div id="profile-picture" class="d-flex justify-content-center h-100">
                <div class="image_outer_container">
                    <div class="green_icon"></div>
                    <div class="image_inner_container">
                        {% set pictureName = images_dir ~ '/' ~ user_default_picture %}
                        {% if app.user.picture and app.user.picture.name %}
                            {% set pictureName = users_dir ~ '/' ~ app.user.picture.name %}
                        {% endif %}
                        <img src="{{ pictureName }}">
                    </div>
                </div>
            </div>

            <div id="personal-info">
                <h3>{{ app.user.fullname }}</h3>
                <h5>{{ app.user.job }}</h5>
                <div class="social_wrapper">
                    <ul class="d-flex justify-content-center">
                        <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a target="_blank" title="Twitter" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                        <li class="google"><a target="_blank" title="Google plus" href="http://pinterest.com/#"><i class="fa fa-google-plus"></i></a></li>
                        {#                    <li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/themegoodsphotography"><i class="fa fa-instagram"></i></a></li>#}
                    </ul>
                </div>
            </div>

            <div id="profile-biography">
                <div class="d-lg-flex d-md-flex d-sm-flex">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p>{{ app.user.biography }}</p>
                    </div>
                </div>
            </div>

            {{ form_start(form, {'action': path('profile'), 'method': 'POST'}) }}
                <div class="d-lg-flex d-md-flex d-sm-flex custom-form-control">
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>
                </div>

                <div class="d-lg-flex d-md-flex d-sm-flex custom-form-control">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        {{ form_label(form.job) }}
                        {{ form_widget(form.job) }}
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>
                </div>

                <div class="d-lg-flex d-md-flex d-sm-flex custom-form-control">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        {{ form_label(form.dateOfBirth) }}
                        {{ form_widget(form.dateOfBirth) }}
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        {{ form_label(form.pictureTmp) }}
                        {{ form_widget(form.pictureTmp) }}
                    </div>
                </div>

                <div class="d-lg-flex d-md-flex d-sm-flex custom-form-control">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        {{ form_label(form.biography) }}
                        {{ form_widget(form.biography) }}
                    </div>
                </div>

                <div class="d-lg-flex d-md-flex d-sm-flex custom-form-control">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{ form_label(form.facebookName) }}
                        {{ form_widget(form.facebookName) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{ form_label(form.twitterName) }}
                        {{ form_widget(form.twitterName) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{ form_label(form.gplusName) }}
                        {{ form_widget(form.gplusName) }}
                    </div>
                </div>

                <div class="d-lg-flex d-md-flex d-sm-flex custom-form-control">
                    <div class="flex-grow-1"></div>
                    <div class="flex-grow-2">
                        <div id="form-errors">
                            {{ form_errors(form.firstname) }}
                            {{ form_errors(form.lastname) }}
                            {{ form_errors(form.job) }}
                            {{ form_errors(form.phone) }}
                            {{ form_errors(form.dateOfBirth) }}
                            {{ form_errors(form.pictureTmp) }}
                            {{ form_errors(form.biography) }}
                            {{ form_errors(form.facebookName) }}
                            {{ form_errors(form.twitterName) }}
                            {{ form_errors(form.gplusName) }}
                        </div>
                    </div>
                    <div class="flex-grow-1"></div>
                </div>

                <div class="d-lg-flex d-md-flex d-sm-flex custom-form-control">
                    <div class="flex-grow-1"></div>
                    <div class="flex-grow-2">
                        <input id="contact_submit_btn" type="submit" value="Modifier">
                    </div>
                    <div class="flex-grow-1"></div>
                </div>

                {{form_widget(form._token)}}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock body %}
