.h-100 {
    height: 100% !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.h-100 {
    height: 100% !important;
}

.image_outer_container{
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.image_inner_container{
    border-radius: 50%;
    padding: 5px;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.image_outer_container .green_icon{
    background-color: #4cd137;
    position: absolute;
    right: 30px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border:5px solid white;
    border-radius: 50%;
}

#personal-info{
    margin: 15px 0;
    text-align: center;
}

#profile-biography{
    margin: 30px 0;
}

#profile-page form input, #profile-page form textarea{
    width: 100%;
}

#profile-page{
    margin: 30px 0;
}

#profile-page #contact_submit_btn{
    width: 100%;
    margin: 30px 0;
}

#page_content_wrapper #profile-picture img {
    width: 200px;
    height: 200px !important;
}

#page_content_wrapper #profile-page .custom-form-control {
    margin: 30px 0;
}